@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.App{
  font-family: "Playwrite GB S", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  line-height: 1.5
 
  
}
.font_lora{
  font-family: "Lora", serif;

}
@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
.delay-3000 {
  animation-delay: 3s; /* Delay the start of this animation by 3 seconds */
}
@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
.animate-fadein{
  animation: fade 1.5s linear infinite;

}






@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate-infinite {
  animation: rotate 100s linear infinite; /* Adjust animation duration (5s) and timing function as needed */
}

.font_nunito{
  font-family: "Nunito", sans-serif;

}
.font_Yellowtail{
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}




@keyframes testes {
  from {
    transform: translateX(200%);
  }
  to {
    transform:translateX(0%);
  }
}


.animate-testes{
  animation: testes 1.2s ease-in-out ;

}




@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animated-bounce {
  animation: bounce 1.5s ease-in-out infinite;
}

.font_Kaushan{
  font-family: "Kaushan Script", cursive;

}


.circle-text {
  display: inline-block;
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold; /* Optional: Make the text bold */
  color: #C1EA9F; /* Text color */
  transform: rotate(90deg); /* Rotate text to appear circular */
}



.boxshadowbtn_black{
  box-shadow: 1px 5px 2px -1px rgba(0,0,0,0.93);
  -webkit-box-shadow: 3px 5px 0px -1px rgba(0,0,0,0.93);
  -moz-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.93);
}

.boxshadowbtn_white{
  box-shadow: 1px 1px 2px -1px rgba(193, 234, 159,0.93);
  -webkit-box-shadow: 2px 3px 1px 0px rgba(193, 234, 159,0.93);
  -moz-box-shadow: 3px 6px 2px -1px rgba(193, 234, 159,0.93);
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: height 1s ease-out; /* Add transition for height */
  overflow: hidden; /* Hide content overflow when height is 0 */
}

.hidden {
  height: 0; /* Reduce height to 0 when hidden */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #C1EA9F; /* Color of the spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}